header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(assets/map.png);
    background-size: cover;
    background-position: center;
    height: 100vh;;
    background-attachment: fixed;
}

.reciept{
    background: rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 20%;
}

.tips{
    position: absolute;
    top: 70%;
    left: 20%;
}

.tip_button{
   border: 2px solid black;
   width: 90px;
   height: 40px; 
   color: black;
   border-radius: 5px;
   background-color: white;
}

.tip_button:hover {
  background-color: rgb(255, 0, 147);
  color: white;
}

.address{
    background: rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    position: absolute;
    top: 35%;
    right: 20%;
}

.total{
    background: rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    position: absolute;
    top: 60%;
    right: 20%;
}

.confirm{
   position: absolute;
   width: 90px;
   height: 40px; 
   color: aliceblue;
   border: none;
   border-radius: 5px;
   background-color: red;
   top: 90%;
   right: 26.5%;
}