header{
    background-image: linear-gradient(rgba(128, 18, 168, 0.7),rgba(131, 95, 106, 0.7)),url(assets/Food-Pictures.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    background-attachment: fixed;
}

.reciept{
    background: rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 40%;
}

.checkout{
   position: absolute;
   width: 90px;
   height: 40px; 
   color: aliceblue;
   border: none;
   border-radius: 5px;
   background-color: red;
   top: 70%;
   right: 42%;
}

.menu{
   position: absolute;
   width: 90px;
   height: 40px; 
   color: aliceblue;
   border: none;
   border-radius: 5px;
   background-color: red;
   top: 70%;
   right: 50%;
}